@use "sass:color";

$accent_color: #e6c498;
$border_color: color.change($accent_color, $alpha:0.3);
$active_color: color.change($accent_color, $alpha:0.2);
$active_hover_color: color.change($accent_color, $alpha:0.3);

$text_color: rgb(218, 218, 218);

$background_color: color.change($accent_color, $alpha:0.5, $lightness:10, $saturation:40);
$surface1: rgba(100, 100, 100, 0.7);
$hover_color: color.change($surface1, $alpha:0.4);

$border: 1px solid $border_color;
$border_radius: 10px;
