@use "sass:color";

$accent_color: #fb80ff;
$border_color: color.change($accent_color, $alpha:0.5);
$active_color: color.change($accent_color, $alpha:0.4);
$active_hover_color: color.change($accent_color, $alpha:0.3);

$background_color: rgba(23, 23, 23, 0.5);
$surface1: rgba(100, 100, 100, 0.7);
$hover_color: color.change($surface1, $alpha:0.4);

$border: 1px solid $border_color;
$border_radius: 10px;