@use "sass:color";

@import './variables';
@import './widgets/panel/panel';
@import './widgets/osd/osd';
@import './widgets/panel_calendar/panel_calendar';
@import './widgets/media_controls/media_controls';
@import './widgets/quick_settings/quick_settings';
@import './widgets/hyprsplash/hyprsplash.scss';

* {
	color: $text_color;
}

.bold {
	font-weight: bold;
}

.accent {
	color: $accent_color;
}

// removes the outline that appears on the buttons when using tab
button {
	outline: none;
}

// Progressbar and scale styling
.progressbar, scale > contents {
	> trough {
		// required to set the width. see https://elkowar.github.io/eww/widgets.html
		min-width: 10px;
		background-color: $surface1;
		border: $border;

		// styling
		> progress, > highlight {
			background-color: color.change($accent_color, $lightness:50, $saturation:50, $alpha:1);
			background-image: none;
			border-color: $border_color;
		}
	}
}

scale > contents > trough > slider {
	background-color: color.change($accent_color, $alpha:1, $lightness:30);
	border-color: $border_color;
}

scale:hover > contents > trough > slider {
	background-color: color.change($accent_color, $alpha:1, $lightness:60);
}

// button
button {
	background-color: transparent;
	border: none;
	transition: none;
}

.btn {
	background: transparent;
	border: $border;
	padding: 5px;
	border-radius: $border_radius;
}

.btn:hover {
	background: $hover_color;
}

.btn-active {
	background: $active_color;
}

.btn-active:hover {
	background: $active_hover_color;
}

circular-progress {
	color: $accent_color;
	background-color: $surface1;
}
