@use "sass:color";

.media_controls {
	background: $background_color;
	border: $border;
	border-radius: $border_radius;

	.media-box {
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		border-radius: $border_radius;
	}

	.media-title {
		font-size: 1.3em;
	}

	.media-artist {
		color: $accent_color;
	}

	.controls-box {
		padding: 20px 20px 20px 10px;
		border-radius: $border_radius;
		background-color: rgba(0, 0, 0, 0.7);
		border: $border;
		border-color: color.change($border_color, $alpha: 0.3);
	}

	.media-img {
		margin: 10px;
		border-radius: $border_radius;
	}

	.media-control-btn {
		border-radius: 10px;
		border: none;
		padding: 0;
	}

	.media-control-btn:nth-child(2) {
		border-right: 1px solid color.change($border_color, $alpha: 1);
		border-left: 1px solid color.change($border_color, $alpha: 1);
	}

	.media-control-btn:nth-child(2):hover {
		background-color: $hover_color;
	}

	.media-progress {
		padding: 0 10px;
	}
}