.quick_settings {
	background-color: $background_color;
	border-radius: $border_radius;
	border: $border;

	padding: 1rem;

	> box {
		padding: 1rem;
	}

	.quick-toggles {
		padding: 0.2rem;
	}

	.quick-settings-section {
		padding: 0 1rem;
	}

	.section-title {
		font-size: 1.3rem;
		font-weight: bold;
	}

	// QUICK SETTINGS HEADER
	.quick-settings-header {
		> label {
			font-size: 2rem;
		}

		padding: 0 1rem 1rem 1rem;
		border-bottom: $border;
	}
	// QUICK SETTINGS HEADER

	// DIVIDER
	.divider {
		border-bottom: $border;
		margin: 0 100px;
		padding: 0;
	}
	// DIVIDER

	// SLIDER SETTING
	.slider-setting-title {
		font-weight: bold;
	}

	.slider-setting-slider {
		padding-left: 0;
	}
	// SLIDER SETTING

	button {
		padding: 10px;
	}

	.icon-btn {
		border-radius: 50%;
	}

	// DROPDOWN
	.dropdown {
		border: 1px solid $border_color;
		border-radius: $border_radius;
		background-color: rgba(0, 0, 0, 0.3);

		.dropdown-title {
			font-size: 1.2rem;
			font-weight: bold;

			padding: 8px 15px;
			border-radius: $border_radius $border_radius 0 0;
		}

		.dropdown-title-eventbox:hover .dropdown-title {
			background-color: $hover_color;
		}
	}

	.dropdown.active {
		.dropdown-title {
			background-color: rgba($accent_color, 0.2);
		}
	}
	// DROPDOWN

	// WIFI SECTION
	.quick-settings-wifi {
		.wifi-networks-list {
			.list-item {
				box {
					padding: 10px 15px;
				}

				.wifi-connected-indicator {
					color: $accent_color;
				}
			}

			.list-item:hover {
				background-color: $hover_color;
			}
		}
	}
	// WIFI SECTION
}