@use "sass:color";

$end_margin: 10px;

@keyframes loading {
	0% {
		background-color: color.change($surface1, $alpha:0.4);
	}

	50% {
		background-color: color.change($surface1, $alpha:0.8);
	}

	100% {
		background-color: color.change($surface1, $alpha:0.4);
	}
}

// PANEL
.panel, .horizontal_panel {
	background: $background_color;
	border-radius: $border_radius;
	border: $border;
}
// PANEL

// PANEL - RIGHT
.panel-right {
	margin-right: $end_margin;

	.quick-controls {
		border-left: 1px solid $border_color;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;

		eventbox {
			padding: 0px;
			button {
				padding: 0px;
			}
		}

		.power-profile-btn-balanced {
			background-color: $active_color;
			&:hover {
				background-color: $active_hover_color;
			}
		}

		.power-profile-btn-performance {
			background-color: rgba(224, 82, 82, 0.2);
			&:hover {
				background-color: rgba(224, 82, 82, 0.3);
			}
		}

		.power-profile-btn-power-saver {
			background-color: rgba(124, 224, 82, 0.2);
			&:hover {
				background-color: rgba(124, 224, 82, 0.3);
			}
		}
	}
}
// PANEL - RIGHT

// PANEL - BUTTONS
.panel-btn {
	// border: $border;
	padding: 0px;

	background: transparent;

	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;
}

.panel-btn.btn-loading {
	animation: loading 1s infinite;
}
// PANEL - BUTTONS

// DATETIME
.panel-datetime {
	font-size: 1.05rem;
	border-radius: 10px;

	&> label {
		padding: 0 10px;
	}

	&:hover {
		background-color: $hover_color;
	}
}
// DATETIME

// MEDIA
.panel-media {
	.panel-media-label {
		border-top-left-radius: $border_radius;
		border-bottom-left-radius: $border_radius;

		box {
			padding-right: 10px;
			margin-left: $end_margin;
		}
	}

	.panel-media-label:hover {
		background-color: $hover_color;

	}

	.media-progress {
		// because it is slightly misaligned
		margin-top: 8px;
		margin-bottom: 6px;

		border-left: 1px solid $border_color;
		padding-left: 10px;
	}
}
// MEDIA

.reveal {
	margin-top: 500px;
}